<div class="container-fluid ps-0 pe-0 bg-light pb-4" style="height: 100vh;">
  <div class="bg-primary pt-4 pb-4 heading-bg">
    <h2 class="text-center text-light">
      Create Todo items
    </h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 ms-auto me-auto">
        <app-book></app-book>
      </div>
      <!-- <div class="col-12 d-flex justify-content-center mt-4 pt-4 w-100"> -->
      <div class="col-12 col-lg-8 mt-4  ms-auto me-auto w-80 todolist-wrap pe-0 ps-0">
        <div class="bg-primary pt-1 pb-1 mb-4 rounded-2">
          <h4 class="text-center text-light ">
            Created Todo items
          </h4>
        </div>
        <app-todo-list></app-todo-list>
      </div>
    </div>
  </div>
  <app-popup></app-popup>
</div>